<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Claire Image</title>
</head>
<body>
    <header >
        <img src="../static/images/logo.png" alt="Logo" class="logo">
        <nav>
            <ul>
                <li><a href="#" class="button">accueil</a></li>
                <li><a href="#" class="button">à propos</a></li>
                <li><a href="#" class="button">contact</a></li>
            </ul>
        </nav>
    </header>
    <h1></h1>
    <video id="video-background" autoplay loop muted>
        <source src="../static/videos/vid.mp4" type="video/mp4">
      </video>
    <a href="/download" download class="button3"> Télécharger l'image</a>
</body>
</html>
